<%- include('partials/header.ejs') %>
    <h2>Contato</h2>
    <td class="fs-4">Mande um email ao provedor:</td>
    <a href="mailto:estheroliveirat84@gamil.com.br">estheroliveirat84@gmail.com</a>

    <%- include('partials/footer.ejs') %>
